<?xml version="1.0" encoding="UTF-8"?>
<!--***************************************************************************
  *                    Copyright (c) 2024.                                    *
  *  Filmovy tabor Centrumdeti.cz & Roboticky tabor Centrumdeti.cz            *
  ***************************************************************************-->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %boldCyan(%-12.-12thread) %boldGreen(%-15.-15logger{0})
                %highlight(%-6level) %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>